# --- Bogdan Luca Paramon ---
Bogdan Luca Paramon <b.l.paramon@student.tudelft.nl>
Bogdan Paramon <b.l.paramon@student.tudelft.nl>

# --- Filip Cîrtog ---
Filip Cîrtog <f.a.cirtog@student.tudelft.nl>
Filip Cirtog <F.A.Cirtog@student.tudelft.nl>
Filip Cirtog <filipcirtog@Filips-MacBook-Air.local>

# --- Poli Dimieva ---
Poli Dimieva <p.dimieva@student.tudelft.nl>
pdimieva <p.dimieva@student.tudelft.nl>

# --- Sofia Dimieva ---
Sofia Dimieva <S.Dimieva@student.tudelft.nl>
Sofia Dimieva <sdimieva@amazon.com>
